# Pre-commit hooks - documentation: https://pre-commit.com/

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(README\.md|LICENSE)$'
      - id: end-of-file-fixer
        exclude: '^(README\.md|LICENSE)$'
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: mixed-line-ending
        exclude: '^(README\.md|LICENSE)$'
